#preview{
    background-color: aliceblue;
    /* width:75%; */
    height: 600px;
    text-align: center;
    /* position: fixed; */
    left: 50%;
    top: 50%;
    /* transform: translate(-50%, -50%); */
    border: 5px solid #000000;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
    padding: 50px;
}
#preview_image{
    width:100%;
    max-width: 500px;
    padding-top: 20px
}
#submit_button{
    /* position: absolute;
    left:    50%;
    bottom:   10px; */
}
