.header {
    padding: 25px;
    padding-bottom: 15px;
    font-family: "Orbitron";
    font-weight: bold;
    text-decoration: underline;
    font-size: 40px;
}
.header img {
    float: left;
    padding-right: 20px;
    height: 50px;
    width: auto;
}

.header a {
    color: black;
}
.header a:hover {
    color: #4d4d4d;
}
.header a:visited {
    color: none;
}

h1 {
    font-family: "Orbitron";
    font-weight: bold;
    text-decoration: underline;
    font-size: 40px;
    height: auto;
    padding-left: 1rem;
}

#main{
    background-color: aliceblue;
    height: 600px;
    left: 50%;
    top: 50%;
    border: 5px solid #000000;
    margin-top: 25px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
    padding: 50px;
}

.links {
    font-family: "Orbitron";
    text-align: center;
    margin: 40px
}
.links a{
    color: black;
}
.links a:visited{
    color:none;
}