#nav-container {
    height: 90%;
}
.selection-container {
    height: 50%;
    left: 50%;
    margin: 0 auto;
    margin-bottom: 20px;
    background-size: cover;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }

.selection-container#container1 {
    background: url("https://imgix.kotaku.com.au/content/uploads/sites/3/2018/02/06/bkeoongodzh5zqy2pnmf.jpg?ar=16%3A9&auto=format&fit=crop&q=65&w=1280") bottom no-repeat;
    background-size: stretch;
    max-width: 60%;
}

.selection-container#container2 {
    background: url("https://media.wired.com/photos/5e2797e008cd76000809d2b6/master/pass/gear_gadget-lab_keyboard.jpg") center no-repeat;
    background-size: stretch;
    background-position: 50% 75%;
    max-width: 60%;
}

@media screen and (min-width: 40em) {
    .selection-container {
    background-position: center center;
    }
}

.selection-container-content {
    font-family: "Readex Pro";
    color:white;
    max-width: 75rem;
    margin: 0 auto;
    padding-left: 5%;
    padding-right: 5%;
    background: rgba(0, 0, 0, 0.55);

}

.selection-container-content#bar1 {
    border-top: 2px solid red;
    border-bottom: 2px solid red;
}

.selection-container-content#bar2 {
    border-top: 2px solid cyan;
    border-bottom: 2px solid cyan;
}

.selection-container-content .subheader{
    font-family: "Readex Pro";
    color:white;
}

.selection-container-content h1 {
    font-family: "Orbitron";
    font-size: 30px;
}

.selection-container-content .button.round {
    border-radius: 5000px;
    text-transform: uppercase;
    font-size: 12px;
    margin-bottom: 0;
}

@media screen and (min-width: 40em) {
    .selection-container-content {
    padding-left: 40%;
    }
}

