{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'preview.css' %}">
    <title>Keycap Vision</title>
</head>
<body>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="sentFile" accept="image/*" onchange="loadFile(event)"/>
        <input type="submit" name="submit" value="Upload" />
    </form>
    <div id="preview">
      <img id="preview_image"/>
    </div>
    {{ prediction_message }}<br>
    <br>
    {{ all_scores_message }}
    {% for k,v in all_scores.items %}
        <li> {{ k }} : {{ v }} </li>
    {% endfor %}
</body>
<script>
    var loadFile = function(event) {
      var preview_image = document.getElementById('preview_image');
      preview_image.src = URL.createObjectURL(event.target.files[0]);
      preview_image.onload = function() {
        URL.revokeObjectURL(preview_image.src) // free memory
      }
    };
  </script>
</html>